.course-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-header {
  padding: 2%;
}

.course-image1 {
  z-index: -1;
}

.course-desc {

}

.course-head {
  font-size: xx-large;
  font-weight: bold;
  padding: 5%;
  color: white;
}

.course-subhead {
  font-size: x-large;
  color: #c4c4c4;
  padding-top: 0.5%;
  padding-left: 5%;
}

.course-content {
  height: auto;
}

.module-container {
  background: white;
  padding: 2.5%;
  margin: 5%;
  border-radius: 15px;
}

.module-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.number {
  color: #676767;
  font-size:1.5em;
  font-weight: bold;
}

.title {
  color: black;
  font-size: 1.8em;
  justify-content: center;
  font-weight: bolder;
}

.btn-play {
  width: 50px;
  height: 50px;
}
