<ion-content [fullscreen]="true">
  <ion-header class="course-header">
    <img (click)="navigateToHome()" src="assets/back.png" alt="back" class="back-btn">
  </ion-header>
  <div class="course-container1">
    <img class="course-image1" src="assets/bg2.jpg" alt="intermediate-course"/>
  </div>
  <div class="course-desc">
    <h2 class="course-head">Intermediate Trading Course</h2>
    <p class="course-subhead">
      Lorem ipsum dolor sit amet, consecte Lorem ipsum dolor sit amet, consecte
      te Lorem ipsum dolor sit amet, consecte
    </p>
  </div>
  <div class="course-content">
    <div class="module-container">
      <div class="module-content">
        <h3 class="number">1.</h3>
        <h3 class="title">Course Overview</h3>
        <img src="assets/play.png" alt="play" class="btn-play">
      </div>
    </div>
    <div class="module-container">
      <div class="module-content">
        <h3 class="number">2.</h3>
        <h3 class="title">Future and Options</h3>
        <img src="assets/play.png" alt="play" class="btn-play">
      </div>
    </div>
    <div class="module-container">
      <div class="module-content">
        <h3 class="number">3.</h3>
        <h3 class="title">NIFTY Trading</h3>
        <img src="assets/play.png" alt="play" class="btn-play">
      </div>
    </div>
    <div class="module-container">
      <div class="module-content">
        <h3 class="number">4.</h3>
        <h3 class="title">Advanced F&O</h3>
        <img src="assets/play.png" alt="play" class="btn-play">
      </div>
    </div>
  </div>
</ion-content>
