.background {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  z-index: 1;
}

ion-title{
  font-size: 2rem;
}

