<ion-content>
  <div id="container">
    <div class="title">Register</div>

    <div class="input-group">
      <ion-label color="light">First Name</ion-label>
      <div class="custom-input">
        <ion-input [(ngModel)]="firstName"  name="firstName" placeholder="First Name" color="light"></ion-input>
      </div>
      <ion-label color="light">Last Name</ion-label>
      <div class="custom-input">
        <ion-input [(ngModel)]="lastName" name="lastName" placeholder="Last Name" color="light"></ion-input>
      </div>
      <ion-label color="light">Email</ion-label>
      <div class="custom-input">
        <ion-input  [(ngModel)]="email" name="email" type="email" placeholder="Email" color="light"></ion-input>
      </div>
      <ion-label color="light">Password</ion-label>
      <div class="custom-input">
        <ion-input  [(ngModel)]="password" name="password" type="password" placeholder="Password" color="light"></ion-input>
      </div>
      <div class="btn-container">
        <ion-button (click)="onSignup()" shape="round" size="large">Register</ion-button>
      </div>
    </div>
  </div>
</ion-content>






