<ion-content>
  <div id="container">
    <div class="title">Register</div>
    <div class="input-group">
      <ion-label color="light">First Name</ion-label>
      <div class="custom-input">
        <ion-input placeholder="First Name" color="light"></ion-input>
      </div>
      <ion-label color="light">Last Name</ion-label>
      <div class="custom-input">
        <ion-input placeholder="Last Name" color="light"></ion-input>
      </div>
      <ion-label color="light">Email</ion-label>
      <div class="custom-input">
        <ion-input type="email" placeholder="Email" color="light"></ion-input>
      </div>
      <ion-label color="light">Password</ion-label>
      <div class="custom-input">
        <ion-input type="password" placeholder="Password" color="light"></ion-input>
      </div>
      <div class="btn-container">
        <ion-button (click)="register()" shape="round" size="large">Register</ion-button>
      </div>
    </div>
  </div>
</ion-content>






